* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Para que la imagen pille todo el fondo */

/* Generales */

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../recursos/fondopantalla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Grid del escritorio */

    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#reproductor {
    display: none;
}

/* Iconos Escritorio */

.icono {
    background: none;
    border: none;
    width: 100%;
}

.icono img {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

#b_internet {
    grid-column: 1/2;
    grid-row: 1/2;
}

#b_juego {
    grid-column: 1/2;
    grid-row: 2/3;
}

#b_archivos {
    grid-column: 1/2;
    grid-row: 3/4;
}

#b_papelera {
    grid-column: 10/11;
    grid-row: 1/2;
}

/* Juego */

#juego {
    display: none;
    grid-column: 3/10;
    grid-row: 2/9;
    z-index: 99;
}

#juego iframe {
    border: none;
    width: 100%;
    height: 97.5%;
}

#juego nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 1rem;
    background-color: #3b77BC;
}

#juego nav img {
    cursor: pointer;
    margin: 0.1rem;
}

/* Internet */

#internet {
    display: none;
    grid-column: 3/10;
    grid-row: 2/9;
    z-index: 99;
}

#internet iframe {
    border: none;
    width: 100%;
    height: 97.5%;
}

#internet nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 1rem;
    background-color: #3b77BC;
}

#internet nav img {
    cursor: pointer;
    margin: 0.1rem;
}

#archivos {
    display: none;
    grid-column: 3/6;
    grid-row: 2/8;
    z-index: 99;
    background-image: url(../recursos/explorador.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10% 13% 77%;
}

#archivos nav {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    width: 88%;
    height: 1.6rem;
    background-color: #e7ecf142;
}

#archivos ul{
    grid-column: 2/3;
    grid-row: 3/4;
    max-height: 20%;
    display: flex;
    flex-direction: row;
}

#archivos ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#archivos ul li img{
    width: 7rem;
    height: 7rem;
    margin: 0.5rem;
}

#papelera {
    display: none;
    grid-column: 3/10;
    grid-row: 2/9;
    z-index: 99;
}

/*Reproductor de musica*/

#reproductor {
    display: none;
    grid-column: 5/7;
    grid-row: 2/8;
    background-image: url(../recursos/reproductorxp.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100%;

    /*Grid */
    position: relative;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 2fr 7fr 1fr ;
    grid-template-rows: 20% 38% 11%;
}

#reproductor nav {
    grid-column: 3/3;
    grid-row: 1/2;
}

#reproductor nav img{
    width: 1.7rem;
    margin-top: 3%;
    margin-left: 55%;
}

#listadomusica{

    position: relative;

    grid-column: 2/2;
    grid-row: 2/2;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.controles{
    grid-column: 2/2;
    grid-row: 3/3;
    margin-top: 7.3%;
    margin-left: 2%;
    width: 4rem;
}
audio::-webkit-media-controls-panel {
    background-color: #5b79b6;
}
audio{
    width: 250px;
    height: 40px;
}

audio::-webkit-media-controls-current-time-display{
    color: white;
}
audio::-webkit-media-controls-time-remaining-display{
    color: white;
}
audio::-webkit-media-controls-play-button{
   background-color: white;
   border-radius: 1rem;
   width: 0.5rem;
}

audio::-webkit-media-controls-mute-button{
    background-color: white;
    border-radius: 1rem;
    width: 0.5rem;
}


/* Barra herramientas */

footer {
    height: 50%;
    align-self: end;
    display: flex;
    grid-column: 1/11;
    grid-row: 10/11;
    align-items: center;
    justify-content: space-between;
    background-color: #3b77BC;
    border: outset 0.2rem #3569a5;

}

#f_botoninicio {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0.3rem;
    height: 90%;
    width: 7rem;
    background-color: #81C046;
    border: outset 0.2rem #79b144;
}

.f_iconoinicio {
    flex-grow: 1;
    width: 25%;
    max-height: 100%;
    object-fit: contain;
}

.f_iniciotexto {
    flex-grow: 3;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.f_barraTareas {
    flex-grow: 100;
}

#f_fecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    height: 90%;
    background-color: #4989d1;
    border: outset 0.2rem #3b689b;
}

#f_fecha p {
    color: white;
    font-size: larger;
}

/*Estilo de menu*/

#menu {
    position: absolute;
    display: none;
    left: 0;
    bottom: 5.5%;
}

#cabecera {
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: #3b77BC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#cabecera img {
    margin: 0.2rem;
    border: outset 0.2rem #396eac;
}

#cabecera h3 {
    margin: 0.2rem;
}

#inicio {
    background-color: white;
}

.iconmenu ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
}

.iconmenu ul li:hover {
    cursor: pointer;
    background-color: #598bc4;
    color: white;
}

.iconmenu div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Parte de boton de apagado*/

.f_bottommenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #3b77BC;
}

#f_botonapagado {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#f_botonapagado:hover {
    cursor: pointer;
    background-color: #3267a3;
}

#f_botonapagado img {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#f_botonapagado {
    background-color: #3b77BC;
}

